<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
	<!-- Action -->
	<bean id="depAction" class="cn.itcast.erp.auth.dep.web.DepAction" scope="prototype">
		<property name="depEbi" ref="depEbi"/>
	</bean>
	<!-- Ebi -->
	<bean id="depEbi" class="cn.itcast.erp.auth.dep.business.ebo.DepEbo" scope="prototype">
		<property name="depDao" ref="depDao"/>
	</bean>
	<!-- Dao -->
	<bean id="depDao" class="cn.itcast.erp.auth.dep.dao.impl.DepImpl" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>	
	
