#aside,#foot,#header,.component-popup .popup-wrap .popup .popup-content.hide,.component-popup .popup-wrap .popup .popup-title.hide
	{
	display: none
}

body {
	width: 100%;
	min-width: 1190px
}

#body,body,html {
	height: 100%;
	background: #f8f8f8
}

#foot {
	background: #fff
}

body,html {
	height: 100%
}

.component-popup .popup-wrap {
	background: rgba(0, 0, 0, .5)
}

.component-popup .popup-wrap .popup {
	width: 600px;
	margin: -134px 0 0 -300px;
	box-sizing: border-box;
	background: #fff;
	height: auto
}

.component-popup .popup-wrap .popup .popup-close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
	color: #666;
	cursor: pointer;
	transition: all .5s ease
}

.component-popup .popup-wrap .popup .popup-close-btn:hover {
	transform: rotate(180deg)
}

.component-popup .popup-wrap .popup .popup-title {
	height: 90px;
	background: #f5f5f5
}

.component-popup .popup-wrap .popup .popup-title .title-main {
	padding-top: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #333
}

.component-popup .popup-wrap .popup .popup-title .title-sub {
	margin-top: 10px;
	color: #757575;
	font-size: 12px;
	line-height: 12px
}

.component-popup .popup-wrap .popup .popup-title .title-sub .highlight {
	color: #fc6232;
	font-size: 12px
}

.component-popup .popup-wrap .popup .popup-content {
	background: #fff;
	padding: 10px 0 0;
	margin: 0 auto;
	width: 560px
}

.component-popup .popup-wrap .popup .popup-content .popup-content-title
	{
	text-align: center;
	font-size: 16px;
	color: #333;
	margin-top: 20px
}

.component-popup .popup-wrap .popup .popup-content .popup-content-info {
	text-align: center;
	font-size: 14px;
	color: #8e8e8e;
	margin: 10px auto
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input
	{
	position: relative
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input input.error
	{
	border-color: #fd6132;
	background: #fee9e2
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input input.error+.error-tips
	{
	display: block
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input input:focus
	{
	background: #fff;
	border-color: #3782ff
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input input:focus+.error-tips
	{
	display: none
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input .input-short.error+.error-tips
	{
	right: 121px
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input .error-tips
	{
	display: none;
	position: absolute;
	right: 1px;
	bottom: 1px;
	padding-right: 10px;
	color: #fc6232;
	cursor: default;
	height: 38px;
	line-height: 40px;
	text-align: right;
	background: #fee9e2
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group .error-tips,.component-popup .popup-wrap .popup .popup-content .widget-verify-input .input-img-captcha.error+.error-tips,.section-main .component-form .widget-verify-input .input-short.error+.error-tips
	{
	right: 121px
}

.component-popup .popup-wrap .popup .popup-content .widget-verify-input .error-tips .error
	{
	color: #fc6232;
	cursor: default
}

.component-popup .popup-wrap .popup .popup-content .form-group {
	font-size: 0;
	margin: 30px auto 0;
	width: 300px
}

.component-popup .popup-wrap .popup .popup-content .form-group input {
	font-size: 16px;
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	outline: 0;
	color: #333;
	padding: 0 0 0 10px;
	font-family: Arial, 'Microsoft YaHei'
}

.component-popup .popup-wrap .popup .popup-content .form-group input:focus
	{
	border-color: #3782ff
}

.component-popup .popup-wrap .popup .popup-content .form-group input.disabled
	{
	color: #b0b0b0;
	background: #f5f5f5
}

.component-popup .popup-wrap .popup .popup-content .form-group input.placeholder
	{
	color: #b0b0b0
}

.component-popup .popup-wrap .popup .popup-content .form-group .input-tip
	{
	margin-top: 10px
}

.component-popup .popup-wrap .popup .popup-content .form-group label {
	display: block;
	font-size: 16px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin-bottom: 6px
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group
	{
	font-size: 0
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group.hide
	{
	display: none
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group input
	{
	width: 200px;
	vertical-align: middle
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group .btn
	{
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	width: 110px;
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	color: #757575;
	font-size: 14px
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group .btn-get-smscode
	{
	background: #e5e5e5;
	border-radius: 2px
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group .btn-get-smscode.active
	{
	background: #fcdb00;
	border: 1px solid #fcdb00;
	color: #333
}

.component-popup .popup-wrap .popup .popup-content .form-group.captcha-group .btn-get-smscode.disabled
	{
	border: 1px solid #e5e5e5;
	background: #e5e5e5;
	color: #757575;
	cursor: not-allowed
}

.component-popup .popup-wrap .popup .popup-content .form-info {
	width: 100%;
	margin: 0 auto
}

.component-popup .popup-wrap .popup .popup-content .form-info .title-icon
	{
	margin-top: 30px
}

.component-popup .popup-wrap .popup .popup-content .form-info .icon-success
	{
	background: url(../../images/account/icon.png) -477px -97px no-repeat;
	width: 53px;
	height: 53px;
	display: inline-block
}

.component-popup .popup-wrap .popup .popup-content .form-info .title {
	font-size: 16px;
	color: #333;
	margin-top: 20px
}

.component-popup .popup-wrap .popup .popup-content .submit-group {
	margin: 40px auto 0;
	width: 300px
}

.component-popup .popup-wrap .popup .popup-content .submit-group input[type=checkbox]
	{
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	top: 1px
}

.component-popup .popup-wrap .popup .popup-content .submit-group .btn-submit
	{
	font-size: 18px;
	color: #333;
	width: 300px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	background: #fcdb00;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px
}

.component-popup .popup-wrap .popup .popup-content .submit-group .submit-desc
	{
	color: #757575;
	font-size: 14px
}

.component-popup .popup-wrap .popup .popup-content .submit-group .submit-desc span
	{
	font-size: 14px;
	vertical-align: middle
}

.component-popup .popup-wrap .popup .popup-content .submit-group .submit-desc .desc
	{
	vertical-align: middle
}

.component-popup .popup-wrap .popup .popup-content .submit-group .submit-desc .desc a
	{
	vertical-align: middle;
	font-size: 14px;
	color: #3782ff
}

.component-popup .popup-wrap .popup .popup-content .submit-group .error-tips
	{
	text-align: left;
	display: none;
	margin-top: 10px
}

.component-popup .popup-wrap .popup .popup-content .submit-group .error-tips .error-icon,.component-popup .popup-wrap .popup .popup-content .submit-group .error-tips .error-text
	{
	display: inline-block;
	vertical-align: middle
}

.component-popup .popup-wrap .popup .popup-content .submit-group .error-tips .error-icon
	{
	background: #fc6232;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	width: 14px;
	height: 14px;
	line-height: 10px;
	text-align: center
}

.component-popup .popup-wrap .popup .popup-content .submit-group .error-tips .error-text
	{
	color: #fc6232;
	margin-left: 3px;
	width: 280px;
	vertical-align: top
}

.component-popup .popup-wrap .popup .popup-content .submit-group.error .error-tips
	{
	display: block
}

.component-popup .popup-wrap .popup .popup-content .form-group {
	text-align: center
}

.component-popup .popup-wrap .popup .popup-content .form-group input.input-captcha
	{
	width: 180px;
	display: inline-block;
	vertical-align: middle
}

.component-popup .popup-wrap .popup .popup-content .form-group .btn-sendcaptcha
	{
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 10px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	border: 1px solid #e5e5e5;
	border-radius: 2px
}

.component-popup .popup-wrap .popup .popup-content .submit-group {
	text-align: center;
	margin-top: 20px
}

.component-popup .popup-wrap .popup .popup-content .info {
	font-size: 16px;
	color: #333
}

.component-popup .popup-wrap .popup .popup-content .highlight {
	color: #fc6232;
	font-size: 16px
}

.component-popup .popup-wrap.tips-popup .info-group {
	margin-top: 20px;
	text-align: center;
	font-size: 16px
}

.component-popup .popup-wrap.tips-popup .popup-content {
	padding-bottom: 40px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap .popup {
	height: 268px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap.needImageCaptcha .popup
	{
	height: 320px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap.needImageCaptcha .popup .popup-content .img-captcha-wrap
	{
	display: block;
	margin-top: 20px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap.needImageCaptcha .popup .popup-content .img-captcha-wrap .input-img-captcha
	{
	width: 180px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap.needImageCaptcha .popup .popup-content .img-captcha-wrap .submit-group
	{
	margin-top: 15px
}

.component-popup .popup-wrap.smscaptcha-popup-wrap.needImageCaptcha .popup .popup-content .img-captcha-wrap .submit-group .btn-submit
	{
	margin-top: 0
}

.section-main {
	width: 760px;
	background: #fff;
	margin: 185px auto 0;
	padding-bottom: 50px
}

.section-main .main-logo {
	text-align: center;
	padding: 40px 0 45px
}

.section-main .main-logo .logo {
	display: inline-block;
	background: url(../../images/account/ahs-logo.png) no-repeat;
	width: 170px;
	height: 48px
}

.section-main .main-title {
	text-align: center;
	font-size: 18px;
	color: #333
}

.section-main .component-form {
	width: 320px;
	margin: 0 auto
}

.section-main .component-form .widget-verify-input {
	position: relative
}

.section-main .component-form .widget-verify-input input.error {
	border-color: #fd6132;
	background: #fee9e2
}

.section-main .component-form .widget-verify-input input.error+.error-tips
	{
	display: block
}

.section-main .component-form .widget-verify-input input:focus {
	background: #fff;
	border-color: #3782ff
}

.section-main .component-form .widget-verify-input input:focus+.error-tips
	{
	display: none
}

.section-main .component-form .widget-verify-input .error-tips {
	display: none;
	position: absolute;
	right: 1px;
	bottom: 1px;
	padding-right: 10px;
	color: #fc6232;
	cursor: default;
	height: 38px;
	line-height: 40px;
	text-align: right;
	background: #fee9e2
}

.section-main .component-form .widget-verify-input .error-tips .error {
	color: #fc6232;
	cursor: default
}

.section-main .component-form .form-group {
	font-size: 0;
	margin: 30px auto 0;
	width: 320px
}

.section-main .component-form .form-group input {
	font-size: 16px;
	box-sizing: border-box;
	width: 320px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e5e5e5;
	outline: 0;
	color: #333;
	padding: 0 0 0 10px;
	font-family: Arial, 'Microsoft YaHei'
}

.section-main .component-form .form-group input:focus {
	border-color: #3782ff
}

.section-main .component-form .form-group input.disabled {
	color: #b0b0b0;
	background: #f5f5f5
}

.section-main .component-form .form-group input.placeholder {
	color: #b0b0b0
}

.section-main .component-form .form-group label {
	display: block;
	font-size: 16px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin-bottom: 6px
}

.section-main .component-form .form-group.captcha-group {
	font-size: 0
}

.section-main .component-form .form-group.captcha-group.hide {
	display: none
}

.section-main .component-form .form-group.captcha-group input {
	width: 200px;
	vertical-align: middle
}

.section-main .component-form .form-group.captcha-group .btn {
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	width: 110px;
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	color: #757575;
	font-size: 14px
}

.section-main .component-form .form-group.captcha-group .btn-get-smscode
	{
	background: #e5e5e5;
	border-radius: 2px
}

.section-main .component-form .form-group.captcha-group .btn-get-smscode.active
	{
	background: #fcdb00;
	border: 1px solid #fcdb00;
	color: #333
}

.section-main .component-form .form-group.captcha-group .btn-get-smscode.disabled
	{
	border: 1px solid #e5e5e5;
	background: #e5e5e5;
	color: #757575;
	cursor: not-allowed
}

.section-main .component-form .form-group.captcha-group .error-tips {
	right: 121px
}

.section-main .component-form .form-info {
	width: 100%;
	margin: 0 auto
}

.section-main .component-form .form-info .title-icon {
	margin-top: 30px
}

.section-main .component-form .form-info .icon-success {
	background: url(../../images/account/icon.png) -477px -97px no-repeat;
	width: 53px;
	height: 53px;
	display: inline-block
}

.section-main .component-form .form-info .title {
	font-size: 16px;
	color: #333;
	margin-top: 20px
}

.section-main .component-form .submit-group {
	margin: 40px auto 0;
	width: 320px
}

.section-main .component-form .submit-group input[type=checkbox] {
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	top: 1px
}

.section-main .component-form .submit-group .btn-submit {
	font-size: 18px;
	color: #333;
	width: 320px;
	text-align: center;
	line-height: 40px;
	background: #fcdb00;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px
}

.section-main .component-form .submit-group .submit-desc {
	color: #757575;
	font-size: 14px
}

.section-main .component-form .submit-group .submit-desc span {
	font-size: 14px;
	vertical-align: middle
}

.section-main .component-form .submit-group .submit-desc .desc {
	vertical-align: middle
}

.section-main .component-form .submit-group .submit-desc .desc a {
	vertical-align: middle;
	font-size: 14px;
	color: #3782ff
}

.section-main .component-form .submit-group .error-tips {
	text-align: left;
	display: none;
	margin-top: 10px
}

.section-main .component-form .submit-group .error-tips .error-icon,.section-main .component-form .submit-group .error-tips .error-text
	{
	display: inline-block;
	vertical-align: middle
}

.section-main .component-form .submit-group .error-tips .error-icon {
	background: #fc6232;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	width: 14px;
	height: 14px;
	line-height: 10px;
	text-align: center
}

.section-main .component-form .submit-group .error-tips .error-text {
	color: #fc6232;
	margin-left: 3px;
	width: 280px;
	vertical-align: top
}

.section-main .component-form .submit-group.error .error-tips {
	display: block
}

.section-main .component-form .form-group {
	margin-top: 20px
}

.section-main .component-form .submit-group {
	margin-top: 30px
}

.section-main .component-form .submit-group .btn-submit {
	margin-top: 0
}

.section-main .component-form .submit-group .submit-desc .desc {
	text-align: right;
	margin-top: 5px
}

.section-main .component-form .submit-group .submit-desc .left {
	text-align: center
}

.section-main .component-tabset .component-tabpanel .tab {
	cursor: pointer
}

.section-main .component-tabset .component-tabcontent {
	display: none;
	margin-top: 30px
}

.section-main .component-tabset .component-tabcontent.selected {
	display: block
}

.section-main .component-tabset .component-tabpanel {
	position: relative;
	text-align: left
}

.section-footer,.showGuestMark {
	text-align: center
}

.section-main .component-tabset .component-tabpanel .tab {
	position: absolute;
	right: 0;
	top: 0;
	color: #8e8e8e;
	font-size: 12px;
	height: 20px;
	line-height: 20px
}

.section-main .component-tabset .component-tabpanel .tab.selected {
	cursor: default;
	position: static;
	left: 0;
	top: 0;
	color: #333;
	font-size: 20px;
	display: inline-block
}

.section-footer {
	margin-top: 150px
}

.section-footer .footer-nav {
	margin-bottom: 20px;
	display: block
}

.section-footer .footer-nav li {
	display: inline-block;
	padding: 0 10px;
	height: 14px;
	line-height: 14px;
	font-size: 14px
}

.section-footer .footer-nav li a {
	display: inline-block;
	color: #757575;
	font-size: 14px
}

.section-footer .footer-nav li+li {
	border-left: 1px solid #b0b0b0
}

.section-footer .copyright {
	color: #b0b0b0;
	font-size: 12px;
	padding-bottom: 100px
}

.wrapper {
	padding-top: 185px
}

.wrapper .hide {
	display: none
}

.showGuestMark .section-main {
	width: 920px;
	font-size: 0
}

.showGuestMark .section-logintab {
	width: 49%;
	box-sizing: border-box
}

.showGuestMark .section-logintab .title {
	width: 320px;
	margin: 0 auto;
	text-align: left;
	font-size: 20px
}

.showGuestMark .section-logintab .title-tip {
	width: 320px;
	margin: 10px auto 0;
	text-align: left;
	font-size: 14px;
	color: #8e8e8e
}

.showGuestMark .section-logintab .component-tabpanel {
	width: 320px;
	margin: 0 auto;
	text-align: left
}

.showGuestMark #guest-logintab {
	border-left: 1px solid #e5e5e5;
	height: 215px
}

.section-main {
	text-align: center;
	margin-top: 0
}

.section-main .form-group {
	position: relative
}

.section-main .form-group.icon-mobile:before,.section-main .form-group.icon-passwd:before
	{
	height: 19px;
	position: absolute;
	left: 11px;
	content: '';
	display: inline-block
}

.section-main .form-group.icon-mobile input,.section-main .form-group.icon-passwd input
	{
	padding-left: 35px
}

.section-main .form-group.icon-mobile:before {
	background: url(../../images/account/login-icon.png) -97px -62px
		no-repeat;
	width: 14px;
	top: 11px
}

.section-main .form-group.icon-passwd:before {
	background: url(../../images/account/login-icon.png) -69px -61px
		no-repeat;
	width: 15px;
	top: 10px
}

.section-logintab {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	margin: 0 auto
}

.caption {
	text-align: center;
	font-size: 20px;
	color: #333;
	width: 320px;
	margin: 0 auto
}

#form-setloginpwd {
	text-align: left
}

#form-setloginpwd label {
	font-size: 14px
}

#forget-pwd {
	cursor: pointer;
	color: #3782ff
}

#forget-pwd-popup .popup-content {
	width: 480px
}

#forget-pwd-popup .info-group {
	margin-top: 20px;
	text-align: center;
	font-size: 16px
}

#forget-pwd-popup .submit-group {
	padding-bottom: 40px
}

#form-sms-login .sms-captcha-wrap .error-tips,#img-captcha-wrap .widget-verify-input .input-img-captcha.error+.error-tips
	{
	right: 121px
}

#mobile-login-error-wrapper .login-error {
	margin-top: -10px
}

#mobile-login-error-wrapper .login-error .icon-locked {
	background: url(../../images/account/icon.png) -663px -11px no-repeat;
	width: 53px;
	height: 53px;
	display: inline-block
}

#mobile-login-error-wrapper .login-error .text {
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-top: 12px
}

.section-main .component-form .form-group .input-tip {
	margin-top: -10px
}

#submit-pwd-login {
	position: relative
}

#submit-pwd-login .submit-desc {
	position: absolute;
	right: 0;
	bottom: -20px
}

#form-login {
	text-align: left;
	width: 320px;
	margin: 0 auto
}

#keep-login-wrap {
	font-size: 0;
	margin-top: 8px;
	text-align: left;
	display: inline-block;
	cursor: pointer
}

#keep-login-wrap #keep-login-icon {
	background: url(../../images/account/icon_unselected.png) no-repeat;
	background-size: 17px 17px;
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle
}

#keep-login-wrap #keep-login-icon.checked {
	background-image: url(../../images/account/icon_selected.png)
}

#keep-login-wrap .text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	color: #8e8e8e;
	font-size: 12px
}